{{!

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



}}

<div class="content">
    <p>Welcome {{firstName}}, the time is now: {{currentTime}}.</p>
    <p>You get super secret admin access since you are an admin. Remember, with
        great power comes great responsibility.</p>
    <p><a href="/protected">Access protected page</a></p>
    <p><a href="/logout">Logout</a></p>
</div>