<main>
    <h1>Venues Found</h1>
    <h2>{{this.searchTerm}}</h2>
    <ol>
        {{#each venue}}
            <li>
                <a href="/venuedetails/{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ol>
    <a href="/">Make another search</a>
</main>