/*
You will style your page using at least 5 CSS selectors for general CSS styling. You will place the CSS in its own file. 
*/

h1 {
    font-size: 2.5rem;
}

footer:hover {
    color: rgb(214, 43, 9);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(235, 234, 234);
}

button {
    color: blue;
}

a {
    font-size: smaller;
    font-style: italic;
}
