{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works: https://github.com/stevens-cs546-cs554/CS-546/tree/master/lecture_08/code/HTML_Templating }}

<html>
    <head>
        <meta charset="utf-8" />
        {{! <title>Venue Finder</title> }}
        <link rel="stylesheet" href="/public/css/main-styles.css" />
    </head>
    <body>
        <main>
            {{{body}}}
        </main>
    </body>
</html>